* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: black;
}

.container {
    width: 1236px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.jcsb {
    justify-content: space-between;
}

.jcse {
    justify-content: space-evenly;
}

.align {
    align-items: center;
}

.tac {
    text-align: center;
}

.col-30 {
    width: 30%;
}

.sec-four {
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.758)), url(/psd/FITNESS\ GYM/img/sec-four/sec-four-bg-img.png);
    background-size: cover;
}

.sec-four-cart-box {
    background-color: rgba(168, 45, 45, 0.7);
    margin: 30px 0;
}

.sec-four-cart-box h4 {
    font-size: 17px;
    color: #ffffff;
    font-weight: 700;
    padding: 80px 0 30px 0;
}

.sec-four-cart-box p {
    font-size: 17px;
    color: #ffffff;
    font-weight: 400;
    padding: 30px 90px;
}

.sec-four-cart-box h5 {
    font-size: 15px;
    color: #ffffff;
    font-weight: 700;
    padding: 30px 0 0 0;
}

.sec-four-cart-box h6 {
    font-size: 15px;
    color: #ffffff;
    font-weight: 400;
    padding: 0 0 100px 0;
    /* margin: 0 0 90px 0; */

}

.sec-four-cart-box-one {
    background-color: rgba(168, 45, 45, 0.7);
    margin: 30px 0;
}

.sec-four-cart-box-one h4 {
    font-size: 17px;
    color: #ffffff;
    font-weight: 700;
    padding: 80px 0 30px 0;
}

.sec-four-cart-box-one p {
    font-size: 17px;
    color: #ffffff;
    font-weight: 400;
    padding: 30px 90px;
}

.sec-four-cart-box-one h5 {
    font-size: 15px;
    color: #ffffff;
    font-weight: 700;
    padding: 30px 0 0 0;
}

.sec-four-cart-box-one h6 {
    font-size: 15px;
    color: #ffffff;
    font-weight: 400;
    padding: 0 0 100px 0;
    margin: 0 0 100px 0;

}